@import "tailwindcss";

:root {
  --background: #7667e3;
  --foreground: #e6e4f7;

  --orangeee-100: hsl(10 55 93);
  --orangeee-400: hsl(10 69 71);
  --orangeee-500: hsl(10 63 59);

  --purpleee-100: hsl(247 55 93);
  --purpleee-400: hsl(247 69 71);
  --purpleee-500: hsl(247 63 59);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-purpleee-100: var(--purpleee-100);
  --color-purpleee-400: var(--purpleee-400);
  --color-purpleee-500: var(--purpleee-500);

  --color-orangeee-100: var(--orangeee-100);
  --color-orangeee-400: var(--orangeee-400);
  --color-orangeee-500: var(--orangeee-500);

  --font-bricolage: var(--font-bricolage-grotesque);

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-base: 1rem;
  --text-lg: 1.125rem;
  --text-xl: 1.25rem;
  --text-2xl: 1.5rem;
  --text-3xl: 1.875rem;
  --text-4xl: 2.25rem;
  --text-5xl: 3rem;
  --text-6xl: 3.75rem;
  --text-7xl: 4.5rem;
  --text-8xl: 6rem;
  --text-9xl: 8rem;
  --text-10xl: 10rem;
  --text-11xl: 12rem;
  --text-12xl: 14rem;

  --radius-sm: 0.25rem;
  --radius: 0.5rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
  --radius-xl: 1.25rem;
  --radius-2xl: 1.5rem;
  --radius-3xl: 2rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-bricolage-grotesque), sans-serif;
}

@layer components {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-[550] leading-[1.1];
  }

  p {
    @apply font-[550] leading-[1.3];
  }
}
