@import "tailwindcss";

:root {
  --background: #7667e3;
  --foreground: #e6e4f7;

  --orange-100: hsl(10 55 93);
  --orange-400: hsl(10 69 71);
  --orange-500: hsl(10 63 59);

  --purple-100: hsl(247 55 93);
  --purple-400: hsl(247 69 71);
  --purple-500: hsl(247 63 59);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-purple-100: var(--purple-100);
  --color-purple-400: var(--purple-400);
  --color-purple-500: var(--purple-500);

  --color-orange-100: var(--orange-100);
  --color-orange-400: var(--orange-400);
  --color-orange-500: var(--orange-500);

  --font-bricolage: var(--font-bricolage-grotesque);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-bricolage-grotesque), sans-serif;
}
